/*================================
=            Variable            =
================================*/

$primary  : #32B400; //#1C9A2C
$secondary: #FFE84F;
$third    : #00515f; //#005c5f
$fourth   : #fff;
$five     : #000;
$six      : #007F7B; //#00A0AF
$seven    : #006765;

$border_thin: 0.07rem;
$border_normal: 0.15rem;
$border_bold: 0.3rem;
$border_heavy: 0.6rem;

$error  : #E6002F;
$success: #3CB371;

$black      : #003946;
$dark-gray  : #4F7780;
$middle-gray: #6996A0;
$light-gray : #A3BCC2;

$action-color: $secondary;

@mixin border-var($borderWidth, $borderColor) {
    border: $borderWidth solid $borderColor;
}

@mixin widthCalc($widthCalc, $widthCalcMinus) {
    width: calc(#{$widthCalc} - #{$widthCalcMinus});
}

$base-duration:     0.3s;
$base-timing:       0.3s;

/*=============================
=            Media            =
=============================*/

$imac27 : 2560px;
$imac21 : 1920px;
$cinema : 1680px;
$pad_g  : 1140px;
$pad_v  : 960px;
$mobile : 570px;

$XXLarge: (media: "(min-width: #{$imac21})");
$XLarge: (media: "(min-width: #{$cinema}) and (max-width: #{$imac21})");
$Large: (media: "(min-width: #{$pad_g}) and (max-width: #{$cinema})");
$Medium: (media: "(min-width: #{$pad_v}) and (max-width: #{$pad_g})");
$XSmall: (media: "(max-width: #{$pad_v})");
$Small: (media: "(max-width: #{$mobile})");
$HSmall: (media: "(max-height: #{$mobile})");
$Landscape: (media: "(max-width: #{$pad_v}) and (orientation: landscape)");
$XPortrait: (media: "(min-width: #{$pad_v}) and (max-width: #{$pad_g}) and (orientation: portrait)");

/*=====  End of Media  ======*/

/*----------  Header  ----------*/
$headerHeight         : 4rem;
// $headerLogoWidth      : ($headerWidth * 2);
$headerSocialTopHeight: 8vh;
$headerSearchButton   : 3rem;

/*----------  layout  ----------*/
$mainPadding: $headerHeight * 1.5;
$mainPadding: 6rem;

/*----------  front  ----------*/
$frontSloganFirstSize: 5vw;
$frontSloganFirstWidth: 30%;

$frontSloganSecondSize: 4vw;
$frontSloganSecondWidth: 40%;
$frontSloganSecondTop: calc(15% + 1rem);

$frontSloganThirdSize: $frontSloganFirstSize;
$frontSloganThirdWidth: 71%;
$frontSloganThirdTop: calc(32% + 1rem);

$frontSloganFourthSize: $frontSloganSecondSize;
$frontSloganFourthWidth: 45%;
$frontSloganFourthTop: calc(50% + 1rem);

/*----------  category  ----------*/
$gridderBackground: $secondary;
$gridderSVGColor: $secondary;
$gridderSVGColorHover: $fourth;
$gridderSVGWidth: 1.5rem;

@mixin rowMachine($numPerRow, $margin) {
    width: calc((100% - ((#{$numPerRow} - 1) * #{$margin})) / #{$numPerRow});
    // width: calc((100% - ((#{$numPerRow} / #{$numPerRow}) * #{$margin})) / #{$numPerRow}); //решение для fenom
    display: inline-block;
    // float: left;

    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
        // margin-left: -(($numPerRow - 1) * 0.1rem);
    }

    // &:first-child {
    // 	margin-left: 0;
    // }

    &:nth-of-type(#{$numPerRow}n) {
        margin-right: 0;
        // margin-bottom: 0;
    }

    // &:nth-of-type(calc(#{$numPerRow} + 1)n) {
    //     margin-left: 0;
    // }

    // @include grid-media($Medium) {
    // 	&:nth-child(n) {
    // 		margin-right: 0;
    // 	}
    // }

    // @include grid-media($Small) {
    // 	&:nth-child(n) {
    // 		margin-right: -5px;
    // 	}
    // }
}

/*=====  End of Variable  ======*/

/*=============================
=            Fonts            =
=============================*/

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// @include font-face (
//     "PF DinDisplay Pro",
//     "fonts/PFDinDisplayPro-Reg/PFDinDisplayPro-Reg",
//     ("eot", "woff", "ttf", "svg")
//     ) {
//     font-style: normal;
//     font-weight: 400;
// }

@include font-face (
    "PF DinDisplay Pro",
    "fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 700;
}

@include font-face (
    "PF DinDisplay Pro Thin",
    "fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_0",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 200;
}

$primary-font     : "Verdana", sans-serif;
$primary-font-bold: "Verdana", sans-serif;
$heading-font     : "PF DinDisplay Pro";
$heading-font-bold: "PF DinDisplay Pro";
$heading-font-thin: "PF DinDisplay Pro Thin";

$body-font-color     :  $fourth;

$body-font-size      :  1rem !default;
$body-font-weight    :  normal !default;
$body-line-height    :  1.4 !default;
$heading-line-height :  0.91 !default;

$bourbon: (
    "modular-scale-base": $body-font-size,
    "modular-scale-ratio": $minor-third,
);

$font-size-base:    $body-font-size !default;
$font-size-large:   $font-size-base + 0.2 !default; // ~18px
$font-size-small:   $font-size-base - 0.2 !default; // ~14px

$font-size-h1:      calc(#{$font-size-base} + 2vmax) !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      calc(#{$font-size-base} + 1.5vmax) !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3:      calc(#{$font-size-base} + 0.7vmax) !default; // ~2rem 33px
$font-size-h4:      calc(#{$font-size-base} + 0.7vmax) !default; // ~1.728rem 28px
$font-size-h5:      calc(#{$font-size-base} + 0.8vmax) !default; // ~1.44rem 23px
$font-size-h6:      $font-size-base !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    //text-indent: 1rem;

    @include grid-media($XXLarge) {
        font-size: $font-size-large;
    }

    @include grid-media($XLarge) {
        font-size: $font-size-base;
    }

    @include grid-media($Medium) {
        font-size: $font-size-large;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-large;
    }

    @include grid-media($Small) {
        font-size: $font-size-large;
    }
}

%hx {
    font: {
        family: $heading-font;
        weight: 400;
    };
    //letter-spacing: 0.04em;
    line-height: $heading-line-height;
    // text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
/*=====  End of Fonts  ======*/


/*==============================
=            Layout            =
==============================*/

// %scrollbar_body {
//     &::-webkit-scrollbar-track {
//         background-color: #fff;
//     }

//     &::-webkit-scrollbar {
//         width: 6px;
//         background: #fff;

//         &::window-inactive {

//         }

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 60%);

//         &:window-inactive {
//             background-color: #fff;
//         }
//     }

//     @include grid-media($Small) {

//         &::-webkit-scrollbar {
//             width: 0;
//         }
//     }
// }

// %scrollbar_sidebar {
//     &::-webkit-scrollbar-track {
//         background-color: #fff;
//     }

//     &::-webkit-scrollbar {
//         width: 4px;
//         background: #fff;

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 70%);
//         //border: 2px solid #555555;

//         &:window-inactive {
//             opacity: 0;
//         }
//     }
// }

body {
    @extend %px;
    margin: 0;
    width: 100%;
    height: 100%;
    // background-color: $six;
    // background: linear-gradient(to left, $seven 0%, $six 15%, $six 75%, $seven 100%);
    background-color: $seven;
    // @extend %scrollbar_body;

    p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include grid-media($Small) {
        font-size: $font-size-base;
    }
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    color: $fourth;
    text-transform: uppercase;
    //text-align: center;
    //transition: all .3s;

    @include grid-media($Large) {
        font-size: calc(#{$font-size-base} + 1.3vmax);
    }

    // @include grid-media($Medium) {
    //     font-size: $font-size-large + 0.5;
    // }

    @include grid-media($XSmall) {
        font-size: calc(#{$font-size-base} + 5.5vmax);
    }

    @include grid-media($Small) {
        font-size: calc(#{$font-size-base} + 2vmax);
    }
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;
    color: $fourth;
    text-transform: uppercase;

    // @include grid-media($Small) {
    //     font-size: $font-size-large;
    // }
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
    color: $secondary;
    // text-transform: uppercase;
}

h4 {
    @extend %hx;
    font-size: $font-size-h5;
    color: $secondary;
    margin-bottom: 0.5rem;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
    color: $secondary;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
    color: $secondary;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}

span {

    @include grid-media($Medium) {
        font-size: $font-size-base;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        @include grid-media($Medium) {
            font-size: $font-size-large;
        }
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

input {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
}

svg {
    transition: all 0.3s;
    overflow: initial;

    g {
        transition: all 0.3s;
    }

    path,
    rect,
    polygon {
        transition: all 0.3s;
    }
}
/*=====  End of Layout  ======*/

