/*==============================================
=                   Category                   =
==============================================*/

.category {

	&-content {
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: row;

		&__content {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			// padding-bottom: $headerHeight + 1.5;
			position: relative;
			z-index: 1;

			&-list {
				width: 100%;

				li.gridder-list {
					width: 100%;
					min-height: $headerHeight * 2;
					display: flex;
					flex-direction: row;
					align-items: center;
					margin: $headerHeight 0 ($headerHeight * 2);
					position: relative;

					&:first-child {
						margin-top: 0;
					}
				}
			}

			&-subtitle {
				width: 100%;
				padding: ($headerHeight / 2.5) 0 ($headerHeight / 4);
				border-top: $border_bold solid $secondary;
				border-bottom: $border_bold solid $secondary;
				margin-bottom: $headerHeight / 2;

				h2 {
					margin-bottom: 0;
				}
			}
		}

		&__text {
			width: calc(100% - (#{$headerHeight} * 2));
			min-height: 30vh;
			display: block;
			position: relative;
			// left: $headerHeight * 4;
			padding: $headerHeight / 2 0;
			margin: 0 $headerHeight;
			border-top: $border_heavy solid $secondary;
		}

		&__title {
			width: calc(100% - (#{$headerHeight} / 2));
			height: calc(#{$font-size-base} + 4.5vmax);
			display: flex;
			align-items: center;
			padding-left: $headerHeight / 2;
			background-color: $secondary;

			h1 {
				font-size: $font-size-h3;
				color: $third;
				margin: 0.5rem 0 0;
				line-height: 1;
			}

			&-section {
				width: calc(30% - #{$headerHeight});
				min-height: $headerHeight * 2;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding-left: $headerHeight / 2;
				padding-right: $headerHeight / 2;
				border-right: $border_bold solid $secondary;
				// background-color: $primary;
				text-align: right;
				z-index: 2;

				h3 {
					font-size: $font-size-h4;
					font-family: $heading-font-thin;
				}
			}
		}

		&__image {
			width: 70%;
			min-height: $headerHeight * 2;
			display: block;
			position: relative;
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: left;
				object-fit: cover;
			}
		}

		&__table {
			width: 100%;
			min-height: $headerHeight / 1.5;
			display: block;
			margin: ($headerHeight / 4) 0 ($headerHeight / 2);
			// border: $border_normal solid $secondary;

			tbody {
				width: 100%;
				display: block;
			}

			tr {
				width: 100%;
				display: flex;
				flex-direction: row;
				// border-bottom: $border_thin solid $secondary;
				background-color: $seven;

				// &:first-child,
				// &:last-child {
				// 	border-top: $border_thin solid $secondary;
				// }

				&:nth-child(2n) {
					background-color: darken($seven, 3%);

					.category-content__table-name {
						border-color: $seven;
					}

					.category-content__table-description--3,
					.category-content__table-description--4,
					.category-content__table-description--5 {
						border-color: $seven;
					}
				}
			}

			&-name {
				width: calc(40% - #{$border_normal} - #{$headerHeight});
				min-height: $headerHeight / 2;
				display: flex;
				align-items: center;
				border-right: $border_normal solid darken($seven, 3%);
				padding: 0.5rem ($headerHeight / 2);
				text-align: left;
			}

			&-description {
				width: calc(60% - #{$headerHeight});
				// height: $headerHeight / 1.5;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.5rem ($headerHeight / 2);
				text-align: center;

				&--3 {
					width: calc((60% / 3) - (#{$headerHeight} / 2) - #{$border_normal});
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem ($headerHeight / 4);
					border-right: $border_normal solid darken($seven, 3%);
					text-align: center;

					&:last-child {
						width: calc((60% / 3) - (#{$headerHeight} / 2));
						border: none;
					}
				}

				&--4 {
					width: calc((60% / 4) - (#{$headerHeight} / 2) - #{$border_normal});
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem ($headerHeight / 4);
					border-right: $border_normal solid darken($seven, 3%);
					text-align: center;

					&:last-child {
						width: calc((60% / 4) - (#{$headerHeight} / 2));
						border: none;
					}
				}

				&--5 {
					width: calc((60% / 5) - (#{$headerHeight} / 2) - #{$border_normal});
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem ($headerHeight / 4);
					border-right: $border_normal solid darken($seven, 3%);
					text-align: center;

					&:last-child {
						width: calc((60% / 5) - (#{$headerHeight} / 2));
						border: none;
					}
				}
			}
		}

		&__info {
			width: calc(100% - (#{$headerHeight} * 2));
			min-height: 20vh;
			padding: 0 $headerHeight ($headerHeight / 2) $headerHeight;
			overflow: auto;

			ul {
				margin: 1rem 0 ($headerHeight / 2);
				list-style: disc;
				padding-left: 1rem;
			}

			p {
				margin-bottom: $headerHeight / 2;
			}
		}

		&__top {
			width: calc(100% - #{$headerHeight});
			min-height: $headerHeight * 2;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: $headerHeight 0;
			padding-left: $headerHeight;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: left;
				object-fit: cover;
			}
		}

		&__product {
			width: calc(100% - (#{$headerHeight} * 2));
			min-height: 30vh;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0 $headerHeight ($headerHeight / 2);
			position: relative;
		}

		// @include grid-media($XXLarge) {

		// 	&__left {
		// 		width: calc((100% / 3) - #{$border_bold} - (#{$mainPadding} * 2));

		// 		padding: ($headerHeight / 2) $mainPadding $mainPadding;
		// 	}
		// }

		// @include grid-media($XLarge) {

		// 	&__left {
		// 		width: calc((100% / 3) - #{$border_bold} - (#{$mainPadding} * 2));
		// 		padding: ($headerHeight / 2) $mainPadding $mainPadding;
		// 	}
		// }

		@include grid-media($XSmall) {
			flex-direction: column;

			&__left {
				width: 100%;
				min-height: 10vh;
				position: relative;

				&-title {
					height: $headerHeight * 2;

					h1 {
						font-size: calc(1rem + 6vmax);
						text-align: center;
					}
				}

				&-text {
					display: none;
					visibility: hidden;
				}
			}

			&__right {
				width: 100%;
				padding: 0;
				left: 0;

				&-button {
					height: $headerHeight;

					&:after {
						width: $headerHeight;
						height: $headerHeight;
					}

					i {
						width: $headerHeight;
						height: $headerHeight;
					}
				}

				&-content {
					padding-top: $headerHeight / 2;
				}

				&-list {

					li.gridder-list {
						flex-direction: column;
					}
				}

				&-subtitle {
					padding: ($headerHeight / 3) ($headerHeight / 4) ($headerHeight / 4);

					h2 {
						font-size: calc(1rem + 3vmax);
						text-align: center;
					}
				}
			}

			&__nav {
				height: $headerHeight;

				li {
					height: $headerHeight;
					transform: translateY($headerHeight);

					// a {

					// }
				}
			}

			&__title {

				&-section {
					width: calc(100% - (#{$headerHeight} * 2.5));
					min-height: $headerHeight;
					padding: 0 ($headerHeight / 4);
					border-right: 0;
					justify-content: center;
					border-top: $border_bold solid $secondary;
					// background-color: $secondary;

					h3 {
						font-family: $heading-font-bold;
						text-align: center;
					}
				}
			}

			&__image {
				width: 100%;
			}

			&__table {

				&-name {
					width: calc(100% - (#{$headerHeight} / 2));
					min-height: inherit;
					border: none;
					justify-content: center;
					text-align: center;
					padding: 1rem ($headerHeight / 4);
				}

				&-description {
					width: calc(100% - (#{$headerHeight} / 2));
					border: none;
					// padding: 1rem ($headerHeight / 4);

					&--3,
					&--4,
					&--5 {
						width: calc((100% / 3));
						padding: 0.5rem 0;
						border: none;

						&:last-child {
							width: calc((100% / 3));
						}
					}
				}

				tr {
					// flex-direction: column;
					flex-wrap: wrap;
					padding-bottom: 0.5rem;
				}
			}

			&__content {
				padding-top: $headerHeight / 2;

				&-list {

					li.gridder-list {
						flex-direction: column-reverse;
						margin-bottom: $headerHeight;
					}
				}
			}

			&__text {
				width: calc(100% - (#{$headerHeight} / 2));
				margin: 0 ($headerHeight / 4);
			}

			&__info {
				width: calc(100% - (#{$headerHeight} / 2));
				padding: 0 ($headerHeight / 4) ($headerHeight / 2) ($headerHeight / 4);

				h4 {
					text-align: center;
				}
			}

			&__top {
				width: 100%;
				flex-direction: column-reverse;
				margin-top: ($headerHeight / 2);
				margin-bottom: ($headerHeight / 2);
				padding-left: 0;
			}

			&__product {
				flex-direction: column;
				padding-top: $headerHeight / 2;
			}
		}

		@include grid-media($Small) {

			&__product {
				width: calc(100% - (#{$headerHeight} / 2));
				padding: ($headerHeight / 4);
				margin: 0;
			}
		}
	}

	&-product {
		// width: calc((100% / 3) - (#{$headerHeight} / 2));
		@include rowMachine(3, ($headerHeight / 2));
		height: 20rem;
		display: flex;
		flex-direction: column;
		// padding: 0 ($headerHeight / 4);
		// border: $border_normal solid $secondary;
		// margin: ($headerHeight / 4);
		transition: all	$base-duration;

		&__form {
			width: 100%;
			height: 100%;
			display: block;
		}

		&__image {
			width: 100%;
			height: 70%;
			display: block;
			background-color: $fourth;
			overflow: hidden;

			picture {
				width: 100%;
				height: 100%;
				display: block;

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		&__content {
			width: calc(100% - (#{$headerHeight} / 2));
			height: calc(30% - (#{$headerHeight} / 2));
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: ($headerHeight / 4);
			transition: all	$base-duration;
		}

		&__title {
			font-size: $font-size-large;
			font-family: $heading-font-thin;
			line-height: 1;
			color: $secondary;
			text-align: center;
			transition: all	$base-duration;
		}

		&:hover {
			// background-color: darken($six, 2%);
			// box-shadow: 0 0 1rem darken($six, 5%);

			.category-product__content {
				background-color: $secondary;
			}

			.category-product__title {
				color: $third;
			}
		}

		@include grid-media($XXLarge) {
			@include rowMachine(5, ($headerHeight / 2));
			height: 30rem;

			&__image {
				height: 75%;
			}

			&__content {
				height: calc(25% - (#{$headerHeight} / 2));
			}
		}

		@include grid-media($XLarge) {
			@include rowMachine(4, ($headerHeight / 2));
			height: 25rem;

			&__image {
				height: 75%;
			}

			&__content {
				height: calc(25% - (#{$headerHeight} / 2));
			}
		}

		@include grid-media($Large) {
			@include rowMachine(3, ($headerHeight / 2));
		}

		@include grid-media($Medium) {
			@include rowMachine(2, ($headerHeight / 2));
		}

		@include grid-media($XSmall) {
			@include rowMachine(1, ($headerHeight / 2));

			&__content {
				background-color: $secondary;
			}

			&__title {
				color: $third;
			}
		}
	}
}

/*============  End of Category  =============*/

/*====================================
=            News Gridder            =
====================================*/
%gridder-arrow-before {
	content: "";
	width: 49px;
	height: 49px;
	display: block;
	background-size: cover;
	background-size: 50% 50%;
	top: 0;
	left: 0;
	padding: 12px;
	position: relative;
	z-index: 2;
	transition: all 0.3s;
}

%gridder-arrow-after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: lighten($secondary, 60%);
	z-index: 1;
	box-sizing: border-box;
	transition: transform 0.3s $ease-in-out-quad;
	transition-delay: 0.05s;
}

.projects {

	&-content {
		width: 100%;
		// min-height: 3rem;
		// transform: translateX(calc(25% - 1px));
	}

	&-gridder {
		// @include outer-container;
		// min-height: 100vh;
		display: block;
		//margin: 0;
		padding: 0;
	}
}

.gridder {

	&-list {
		//@include span-columns(4);
		//@include omega(3n);
		// @include rowMachine(4, 1px);
		// width: calc(100% / 4);
		// height: 25vh;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		// display: flex;
		// align-items: center;
		// flex-direction: column;
		// justify-content: center;
		position: relative;
		transition: 0.5s $ease-out-expo;
		cursor: pointer;
		// cursor: url('images/linkExpand.png') 18 18, pointer;

		.inside-description {
			$numPerRowText: 4;
			$marginText: 1%;
			width: 100%;
			height: 5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// background-color: rgba(36,48,53,0.5);
			position: relative;
			padding: 0 1rem;
			box-sizing: border-box;
			transition: transform 0.4s $ease-out-expo;
			transition-delay: 0.25s;
			z-index: 10;

			h4 {
				// height: 30%;
				position: relative;
				color: #fff;
				text-align: center;
				margin: 0;
				// padding: 0 2rem;
				visibility: hidden;
				// z-index: 10;
				transition: transform 0.4s $ease-out-expo;
				transition-delay: 0.3s;
				transform: translateY(100%);
			}

			p {
				// height: 30%;
				position: relative;
				color: #fff;
				text-align: center;
				// margin: 0;
				// padding: 0 2rem;
				visibility: hidden;
				// z-index: 10;
				transition: transform 0.4s $ease-out-expo;
				transition-delay: 0.3s;
				transform: translateY(100%);
			}
		}

		// &:hover {


		// 	picture {

		// 		img {
		// 			transform: scale(1.05);
		// 		}
		// 	}
		// }
	}

	&-show {
		width: 100%;
		display: block;
		float: left;
		position: relative;
		padding: 0;
		margin-top: -$headerHeight;
		margin-bottom: $headerHeight;
		overflow: hidden;

		// @include media($XSmall) {
		//     display: none !important;
		// }

		// @include media($Small) {
		//     display: none !important;
		// }
	}

	&-navigation {
		width: $headerHeight;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		// background-color: $gridderBackground;
		transition: all 0.3s;
		z-index: 2;

		.gridder-nav {
			width: calc(100% / 3);
			height: 2rem;
			position: relative;
			// padding: 12px;
			//background-color: #fff;
			overflow: hidden;

			&.next {
				display: none;
				transition: all 0.3s;

				svg {
					width: 1rem;
					height: 1rem;
					fill: none;
					stroke: $gridderSVGColor;
					stroke-width: $gridderSVGWidth;
					top: 50%;
					left: 50%;
					margin-top: -0.5rem;
					margin-left: -0.5rem;
					position: absolute;
				}

				&::after {
					@extend %gridder-arrow-after;
					right: 100%;
					top: 0;
				}

				&:hover {
					transform: translateX(5px);

					svg {
						stroke: $gridderSVGColorHover;
					}
				}
			}

			&.prev {
				display: none;
				transition: all 0.3s;

				svg {
					width: 1rem;
					height: 1rem;
					fill: none;
					stroke: $gridderSVGColor;
					stroke-width: $gridderSVGWidth;
					top: 50%;
					left: 50%;
					margin-top: -0.5rem;
					margin-left: -0.5rem;
					position: absolute;
				}

				&::after {
					@extend %gridder-arrow-after;
					left: 100%;
					top: 0;
				}

				&:hover {
					transform: translateX(-5px);

					svg {
						stroke: $gridderSVGColorHover;
					}
				}
			}
		}

		.gridder-nav.background--light {
			border-color: #fff;
		}

		.gridder-nav.background--dark {
			border-color: $primary;
		}

		.gridder-nav.background--complex {
			border-color: lighten($primary, 50%);
		}

		.gridder-close {
			width: 100%;
			height: $headerHeight;
			display: block;
			//padding: 14px;
			position: relative;
			//background-color: #fff;
			overflow: hidden;
			transition: all 0.3s;

			svg {
				width: $headerHeight / 3;
				height: $headerHeight / 3;
				fill: none;
				stroke: $gridderSVGColor;
				stroke-width: $gridderSVGWidth;
				top: 50%;
				left: 50%;
				margin-top: -($headerHeight / 6);
				margin-left: -($headerHeight / 6);
				position: absolute;
			}

			&::after {
				@extend %gridder-arrow-after;
				bottom: 100%;
				left: 0;
			}

			&:hover {
				transform: rotate(180deg);

				svg {
					stroke: $gridderSVGColorHover;
				}
			}
		}

		// @include media($XSmall) {
		//     display: none;
		// }

		// @include media($Small) {
		//     display: none;
		// }
	}

	&-content {
		display: none;
	}

	&-expanded-content {
		width: calc(100% - (#{$headerHeight} * 2));
		min-height: 20vh;
		animation-name: fadeIn;
		animation-duration: .5s;
		// animation-fill-mode: both;
		// display: flex;
		// flex-direction: row;
		padding: $headerHeight $headerHeight ($headerHeight / 2) $headerHeight;
		// border-top: $border_normal solid $secondary;
		// border-bottom: $border_bold solid $secondary;
		overflow: auto;

		ul {
			margin: 1rem 0 ($headerHeight / 2);
			list-style: disc;
			padding-left: 1rem;
		}

		p {
			margin-bottom: $headerHeight / 2;
		}
	}

	// @include grid-media($XLarge) {

	// 	&-show {
	// 		width: calc((100% / 4) * 3);
	// 	}
	// }

	@include grid-media($XSmall) {

		&-expanded-content {
			width: calc(100% - (#{$headerHeight} / 2));
			padding: $headerHeight ($headerHeight / 4) 0;
			border-bottom: $border_bold solid $secondary;
		}

		&-navigation {
			width: $headerHeight;
		}
	}

	@include grid-media($Small) {

		&-navigation {
			width: $headerHeight;
		}
	}
}

@keyframes fadeDown {
	0% {
		opacity: 0;
		// transform: translateY(15%);
	}
	100% {
		opacity: 1;
		// transform: translateY(0);
	}
}

/*=====  End of News Gridder  ======*/