/*===============================================
=                   Catalogue                   =
===============================================*/

.catalogue {

	&-section {
		width: 100%;
		min-height: 30vh;
		display: flex;
		flex-direction: row;
		position: relative;
		margin-bottom: $headerHeight;

		&__cable {
			width: 70%;
			height: 100%;
			display: block;
			position: absolute;
			z-index: 0;
			// background-color: $third;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
			}
		}

		&__title {
			height: 100%;
			display: flex;
			align-items: center;
			position: absolute;
			z-index: 1;

			h2 {
				// width: 60%;
				font-size: $font-size-h4;
				// padding: 0 ($mainPadding / 2);
				margin: 0;
				// text-align: center;
				// transition: all $base-duration;
			}

			svg {
				width: 20%;
				fill: none;
				stroke: $fourth;
				stroke-linecap: round;
				stroke-width: $border_heavy;
				stroke-dasharray: 3 24;
			}

			&:hover {

				h2 {
					color: $secondary;
					// letter-spacing: 0.05rem;
				}

				svg {
					stroke: $secondary;
				}
			}
		}

		&:nth-child(1n) {
			.catalogue-section__cable {
				left: 0;

				img {
					object-position: right;
				}
			}

			.catalogue-section__title {
				width: 50%;
				justify-content: flex-end;
				right: 0;
				// padding-right: $mainPadding + ($headerHeight / 2);
				// text-align: right;
				// background: linear-gradient(to left, $seven 0%, $six 25%, rgba($seven, 0) 100%);

				h2 {
					// width: calc(100% - #{$mainPadding});
					height: $headerHeight;
					display: flex;
					align-items: center;
					background-color: $primary;
					padding: 0.5rem $mainPadding 0 ($mainPadding / 3);
					text-align: left;
				}
			}

			// &:after {
			// 	content: "";
			// 	width: $mainPadding;
			// 	height: $headerHeight;
			// 	display: block;
			// 	position: absolute;
			// 	background-color: $primary;
			// 	right: 0;
			// 	top: 50%;
			// 	transform: translateY(-50%);
			// 	z-index: 0;
			// }

			&:before {
				content: "";
				width: $mainPadding;
				height: $headerHeight;
				display: block;
				position: absolute;
				background-color: $primary;
				left: 0;
				top: 50%;
				padding-top: 0.5rem;
				transform: translateY(-50%);
				z-index: 1;
			}
		}

		&:nth-child(2n) {
			.catalogue-section__cable {
				right: 0;
				left: inherit;

				img {
					object-position: left;
				}
			}

			.catalogue-section__title {
				width: 50%;
				justify-content: flex-start;
				left: 0;
				right: inherit;
				// padding-left: $mainPadding + ($headerHeight / 2);
				// text-align: left;
				// background: linear-gradient(to left, rgba($seven, 0) 0%, $six 25%, $seven 100%);

				h2 {
					// width: calc(100% - #{$mainPadding});
					height: $headerHeight;
					display: flex;
					align-items: center;
					background-color: $primary;
					padding: 0.5rem ($mainPadding / 3) 0 $mainPadding;
					text-align: right;
				}
			}

			&:after {
				content: "";
				width: $mainPadding;
				height: $headerHeight;
				display: block;
				position: absolute;
				background-color: $primary;
				right: 0;
				top: 50%;
				padding-top: 0.5rem;
				transform: translateY(-50%);
				z-index: 1;
			}

			&:before {
				display: none;
				visibility: hidden;
			}
		}

		&--left {

			.catalogue-section__cable {
				left: 0;
			}

			.catalogue-section__title {
				right: 0;
				padding-right: $mainPadding / 2;
			}

			&:after {
				content: "";
				width: $mainPadding;
				height: $headerHeight;
				display: block;
				position: absolute;
				background-color: $primary;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				z-index: 0;
			}
		}

		&--right {

			.catalogue-section__cable {
				right: 0;
			}

			.catalogue-section__title {
				left: 0;
				padding-left: $mainPadding / 2;
			}

			&:before {
				content: "";
				width: $mainPadding;
				height: $headerHeight;
				display: block;
				position: absolute;
				background-color: $primary;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				z-index: 0;
			}
		}
	}

	@include grid-media($XSmall) {
		margin-bottom: $headerHeight;

		&-section {
			min-height: 20vh;
			margin-bottom: $headerHeight;
			flex-direction: column;

			&__cable {
				width: 100%;
				height: 20vh;
				position: relative;
			}

			&__title {
				width: 100%;
				position: relative;
				// margin-top: $headerHeight / 2;

				h2 {
					width: 80%;
				}

				svg {
					width: 10%;
				}
			}

			&:after,
			&:before {
				display: none;
				visibility: hidden;
			}

			&:nth-child(1n) {

				.catalogue-section__title {
					width: 100%;
					justify-content: center;
					padding: 0;
					text-align: center;
					padding-right: 0;
				}
			}

			&:nth-child(2n) {

				.catalogue-section__title {
					width: 100%;
					justify-content: center;
					padding: 0;
					text-align: center;
					padding-left: 0;
				}
			}
		}
	}
}

/*============  End of Catalogue  =============*/