/*=============================================
=                   Contact                   =
=============================================*/

.contact-content {

	&__left {
		width: calc((100% / 3) - #{$border_bold});
		height: calc(100% - (calc(#{$font-size-base} + 4.5vmax)) - (#{$headerHeight} * 3));
		display: block;
		border-top: (calc(#{$font-size-base} + 4.5vmax)) solid $secondary;
		position: fixed;
		top: $headerHeight * 3;
		border-right: $border_bold solid $secondary;
		z-index: 10;
	}

	&__map {
		width: 100%;
		height: 100%;
		display: block;
		background-color: $fourth;
		z-index: 1;

		&:before {
			content: "Загрузка карты...";
			font-size: $font-size-small;
			color: $five;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 0;
		}
	}

	&__right {
		width: calc(((100% / 3) * 2) - (#{$mainPadding} * 2));
		height: 100%;
		display: block;
		position: relative;
		left: calc(100% / 3);
		padding: 0 $mainPadding;
	}

	&__adress {
		width: 100%;
		min-height: 10vh;
		margin-bottom: $headerHeight;
		text-align: center;

		a {
			color: $secondary;

			&:hover {
				color: $third;
			}
		}
	}

	&__team {
		width: 100%;
		min-height: 50vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		&-list {
			@include rowMachine(2, ($headerHeight / 2));
			min-height: 10vh;
			// display: flex;
			// flex-direction: column;
		}

		&-photo {
			width: 80%;
			height: auto;
			display: block;
			overflow: hidden;
			margin: 0 auto;
			border-bottom: $border_heavy solid $secondary;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		&-content {
			width: 100%;
			// height: 100%;
			display: block;
			padding: ($headerHeight / 2) 0;
			text-align: center;

			li {

				h3 {
					font-family: $heading-font-thin;
					margin-bottom: 0.15rem;
				}

				&:nth-child(2n) {
					margin-bottom: 1rem;
				}

				a {
					color: $secondary;

					&:hover {
						color: $third;
					}
				}
			}
		}

		@include grid-media($XXLarge) {

			&-list {
				@include rowMachine(4, ($headerHeight / 2));
			}

			&-photo {
				width: 80%;
			}

			&-content {


				li {

					h3 {
						font-size: $font-size-h3 - 0.5;
					}
				}
			}
		}

		@include grid-media($XLarge) {

			&-list {
				@include rowMachine(4, ($headerHeight / 2));
			}

			&-photo {
				width: 90%;
			}

			// &-content {


			// 	li {

			// 		h3 {
			// 			font-size: calc(#{$font-size-base} + 1.3vmax);
			// 		}
			// 	}
			// }
		}

		@include grid-media($Large) {

			&-list {
				@include rowMachine(2, ($headerHeight / 2));
			}

			&-photo {
				width: 70%;
			}

			// &-content {


			// 	li {

			// 		h3 {
			// 			font-size: calc(#{$font-size-base} + 1.3vmax);
			// 		}
			// 	}
			// }
		}
	}

	@include grid-media($XXLarge) {

		&__right {
			width: calc(((100% / 3) * 2) - (#{$headerHeight} * 4) - #{$mainPadding});
			padding: 0 ($headerHeight * 4) 0 $mainPadding;
		}
	}

	@include grid-media($XLarge) {

		&__right {
			width: calc(((100% / 3) * 2) - (#{$headerHeight} * 4) - #{$mainPadding});
			padding: 0 ($headerHeight * 4) 0 $mainPadding;
		}
	}

	@include grid-media($Large) {

		&__right {
			width: calc(((100% / 3) * 2) - (#{$mainPadding} * 2));
			padding: 0 $mainPadding;
		}
	}

	@include grid-media($XSmall) {

		&__left {
			display: none;
			visibility: hidden;
		}

		&__map {
			display: none;
			visibility: hidden;
		}

		&__right {
			width: calc(100% - (#{$headerHeight} / 2));
			left: 0;
			padding: $headerHeight ($headerHeight / 4) 0;
		}

		&__team {

			&-list {
				@include rowMachine(1, ($headerHeight / 2));
			}

			&-photo {
				width: calc(100% - ((#{$headerHeight} / 4) * 6));
				margin: 0 (($headerHeight / 4) * 3);
			}
		}
	}
}

/*============  End of Contact  =============*/