/*==============================
=            Footer            =
==============================*/
$footer-grid: (
    columns: 1,
    gutter: 5rem
);

.footer {
    // width: calc(100% - (#{$mainPadding} * 2));
    width: calc(100% - (#{$headerHeight} * 8) - #{$mainPadding});
    min-height: $headerHeight;
    background: $primary;
    display: block;
    position: relative;
    padding: 0 ($mainPadding / 2);
    bottom: 0;
    left: $headerHeight * 4;
    font-size: $font-size-small;
    color: $fourth;
    border-top: ($headerHeight / 4) solid $secondary;
    z-index: 9000;

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__top {
            width: 100%;
            min-height: $headerHeight / 2;
            display: flex;
            flex-direction: row;
            padding: ($mainPadding / 4) 0;
            border-bottom: $border_normal solid $secondary;
        }

        &__bottom {
            width: 100%;
            min-height: $headerHeight / 2;
            display: flex;
            flex-direction: row;
            padding: 1rem 0;
        }

        &__nav {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            ul {
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;

                li {
                    margin-right: 0.5rem;

                    a {
                        font-size: $font-size-small;
                        color: $fourth;
                    }

                    &:after {
                        content: "|";
                        margin-left: 0.5rem;
                    }

                    // &:first-child {
                    //     margin-left: 0;
                    // }

                    &:last-child {
                        margin-right: 0;

                        &:after {
                            display: none;
                        }
                    }

                    &:hover {

                        a {
                            color: $secondary;
                        }
                    }
                }
            }
        }

        &__link {
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            ul {
                // width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    width: auto;
                    margin-right: 0.5rem;
                    // margin-bottom: 0.5rem;

                    a, img {
                        width: auto;
                        height: $headerHeight / 2;
                        display: block;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &-metrika {
                width: 88px;
                height: 31px;
                display: inline-block;
                background-color: $third;
                margin-right: $mainPadding / 2;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__copyright {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__author {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            text-align: right;

            span {
                width: auto;
                height: $headerHeight / 3;
                font: {
                    //family: $font-family-base;
                    size: $font-size-small;
                };
                line-height: 1;
                color: $fourth;
                display: inline-block;
            }

            a {
                width: auto;
                height: $headerHeight / 2;
                margin-left: 1rem;
                margin-top: -0.5rem;
                display: inline-block;

                svg {
                    width: auto;
                    height: 100%;
                    transition: all 0.2s;

                    .redvus-logo__red {
                        fill: $secondary;
                    }

                    .redvus-logo__deepred {
                        fill: $third;
                    }

                    &:hover {

                        .redvus-logo__red {
                            fill: $fourth;
                        }
                    }
                }
            }
        }
    }

    &-short {
        width: calc(100% - (#{$mainPadding} * 2) - (100% / 3));
        left: calc(100% / 3);

        .footer-container__top {
            flex-direction: column;
        }

        .footer-container__nav,
        .footer-container__link {
            width: 100%;
        }
    }

    @include grid-media($XSmall) {
        width: calc(100% - (#{$headerHeight} / 2));
        padding: 0 ($headerHeight / 4) $headerHeight;
        left: 0;

        &-container {

            &__nav {
                width: 50%;
                // display: none;
                // visibility: hidden;

                ul {
                    flex-direction: column;

                    li {

                        &:after {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }

            // &__top {
            //     flex-direction: column;
            // }

            &__link {
                width: 50%;
            }

            &__bottom {
                flex-direction: column;
            }

            &__copyright,
            &__author {
                width: 100%;
                margin-bottom: $headerHeight / 4;
                text-align: right;
            }
        }

        &-short {
            width: calc(100% - (#{$headerHeight} / 2));
            padding: 0 ($headerHeight / 4) $headerHeight;
            left: 0;

            .footer-container__top {
                flex-direction: row;
            }

            .footer-container__nav,
            .footer-container__link {
                width: 50%;
            }
        }
    }
}

/*=====  End of Footer  ======*/
