/*==============================
=            Header            =
==============================*/
.header {
	width: 100%;
	height: $headerHeight * 2;
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	z-index: 9900;

	%headerTop {
		width: 100%;
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		font-size: $font-size-small;
		// background-color: $third;
	}

	%headerBottom {
		width: 100%;
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		position: relative;
	}

	%headerBottomSmall {
		width: $headerHeight * 1.5;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $fourth;
		font-size: $font-size-small;
		position: relative;
	}

	&-left {
		width: $headerHeight * 4;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;

		&__top {
			@extend %headerTop;
		}

		&__currency {
			@extend %headerBottomSmall;
			background-color: transparent;
		}

		&__slogan {
			width: calc(100% - (#{$headerHeight} * 1.5));
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;

			span {
				text-align: right;
			}
		}

		&__bottom {
			@extend %headerBottom;

			// &:before {
			// 	content: "";
			// 	width: 1rem;
			// 	height: 70%;
			// 	display: block;
			// 	position: absolute;
			// 	right: 0;
			// 	top: 50%;
			// 	background-color: darken($third, 10%);
			// 	transform: translate(100%, -50%);
			// }

			// &:after {
			// 	content: "";
			// 	width: 1rem;
			// 	height: 1rem;
			// 	display: block;
			// 	position: absolute;
			// 	right: 0;
			// 	top: 50%;
			// 	background-color: $secondary;
			// 	transform: translate(200%, -50%);
			// }
		}

		&__search {

			&-toggle {
				@extend %headerBottomSmall;
				background-color: $primary;
				cursor: pointer;

				i {
					font-size: $font-size-large + 0.5;
					position: absolute;
				}
			}

			&-close {
				position: absolute;
				visibility: hidden;
			}
		}

		&__logo {
			width: calc(100% - (#{$headerHeight} * 1.5));
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $fourth;

			img {
				width: auto;
				height: 80%;
				display: block;
			}
		}
	}

	&-right {
		width: $headerHeight * 4;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		right: 0;

		&__top {
			@extend %headerTop;
			align-items: center;
			justify-content: flex-start;
			text-align: left;
		}

		&__bottom {
			@extend %headerBottom;

			// &:before {
			// 	content: "";
			// 	width: 1rem;
			// 	height: 70%;
			// 	display: block;
			// 	position: absolute;
			// 	left: 0;
			// 	top: 50%;
			// 	background-color: darken($third, 10%);
			// 	transform: translate(-100%, -50%);
			// }

			// &:after {
			// 	content: "";
			// 	width: 1rem;
			// 	height: 1rem;
			// 	display: block;
			// 	position: absolute;
			// 	left: 0;
			// 	top: 50%;
			// 	background-color: $secondary;
			// 	transform: translate(-200%, -50%);
			// }
		}

		&__phone {
			width: calc(100% - (#{$headerHeight} * 1.5));
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: $fourth;

			a {
				font-size: $font-size-small;
				color: $primary;

				&:hover {
					color: $third;
				}
			}
		}

		&__nav {
			@extend %headerBottomSmall;
			background-color: $primary;
			cursor: pointer;

			i {
				font-size: $font-size-large + 0.5;
				position: absolute;
			}

			&-close {
				position: absolute;
				// visibility: hidden;
			}
		}
	}

	&-top {
		width: 100%;
		height: $headerHeight;
		top: 0;
		left: 0;
		position: fixed;
		z-index: 9900;
		box-shadow: 0 0.3rem 0.5rem $seven;

		&__search {

			&-toggle {
				width: $headerHeight;
				height: $headerHeight;
				display: block;
				float: left;
				position: relative;
				background-color: $primary;
				cursor: pointer;

				i {
					// width: $headerHeight / 2;
					// height: $headerHeight / 2;
					// display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: $headerHeight / 2;
					transform: translate(-50%, -50%);

					&:before {
						width: 100%;
						height: 100%;
						display: block;
					}
				}
			}
		}

		&__logo {
			width: calc(100% - (#{$headerHeight} * 2));
			height: $headerHeight;
			display: block;
			float: left;
			position: relative;
			background-color: $fourth;

			img {
				width: auto;
				height: 70%;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__nav {
			width: $headerHeight;
			height: $headerHeight;
			display: block;
			float: left;
			position: relative;
			background-color: $primary;
			cursor: pointer;

			i {
				// width: $headerHeight / 2;
				// height: $headerHeight / 2;
				// display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: $headerHeight / 2;
				transform: translate(-50%, -50%);

				&:before {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
		}

		&--mobile {
			height: $headerHeight * 2;
		}
	}

	&-bottom {
		width: 100%;
		height: $headerHeight;
		bottom: 0;
		left: 0;
		position: fixed;
		z-index: 9900;
		box-shadow: 0 -0.3rem 0.5rem $seven;

		a {
			width: calc(100% / 3);
			height: $headerHeight;
			display: block;
			float: left;
			position: relative;
			background-color: $fourth;

			span {
				width: 100%;
				height: $headerHeight / 2;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				font-family: $heading-font;
				font-size: $headerHeight / 2.5;
				text-align: center;
				transform: translate(-50%, -50%);

				i {
					font-size: $headerHeight / 2;
					position: relative;
					margin-right: 0.5rem;
				}

				&:before {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
		}
	}

	&-nav {
		width: calc(100% - (#{$headerHeight} * 8));
		height: $headerHeight;
		position: fixed;
		left: $headerHeight * 4;
		top: $headerHeight;
		z-index: 1;

		ul {
			width: 100%;
			height: $headerHeight;
			display: flex;
			flex-direction: row;

			li {
				width: calc(100% / 3);
				// height: 100%;
				// height: calc(100% - (#{$border_bold} * 2));
				display: flex;
				background-color: $fourth;
				visibility: hidden;
				border-top: $border_bold solid $fourth;
				border-bottom: $border_bold solid $fourth;
				transition: border-color 0.2s;

				a {
					width: 100%;
					// height: calc(100% - (#{$border_bold} * 2));
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					// border-top: $border_bold solid $fourth;
					// border-bottom: $border_bold solid $fourth;
					font: {
						family: $heading-font;
						size: $font-size-large;
					};
					transition: all 0.2s;
				}

				&:hover {
					border-color: $primary;

					a {
						// height: calc(100% - (#{$border_bold} * 2));
						// border-top: $border_bold solid $primary;
						// border-bottom: $border_bold solid $primary;
						// border-color: $primary;
						color: $third;
					}
				}
			}
		}

		&--mobile {
			width: calc(100% - #{$headerHeight});
			height: calc(100vh - (#{$headerHeight} * 4));
			display: block;
			position: fixed;
			top: $headerHeight;
			right: 0;
			padding: $headerHeight 0;
			background-color: $fourth;
			transform: translateX(100%);
			z-index: 9910;
			opacity: 0;
			visibility: hidden;

			ul {

				li {
					width: 100%;
					height: calc((100vh - (#{$headerHeight} * 4)) / 5);
					text-align: right;
					position: relative;

					a {
						font: {
							family: $heading-font;
							size: $font-size-h4;
						};
						position: absolute;
						top: 50%;
						right: ($headerHeight * 2.5) / 2;
						transform: translateY(-50%);
					}

					&:after {
						content: "";
						width: $headerHeight;
						height: $headerHeight / 2;
						display: block;
						position: absolute;
						top: 50%;
						right: 0;
						background-color: $primary;
						transform: translateY(-50%);
					}
				}
			}
		}

		// &__children {

		// 	> a {

		// 		svg#navCross {
		// 			width: 0.5rem;
		// 			height: 0.5rem;
		// 			display: block;
		// 			float: left;
		// 			position: relative;
		// 			margin-left: $marginVert / 4;
		// 			transform: translateY(20%);

		// 			#navCrossVert {
		// 				fill: none;
		// 				stroke: $colorPrimary20;
		// 				stroke-width: 0.2rem;
		// 				transform-origin: 50% 50%;
		// 				transition: transform .2s;
		// 			}

		// 			#navCrossHorz {
		// 				fill: none;
		// 				stroke: $colorPrimary20;
		// 				stroke-width: 0.2rem;
		// 				transform-origin: 50% 50%;
		// 				transition: transform .2s;
		// 			}
		// 		}
		// 	}

		// 	ul.submenu {
		// 		width: 100%;
		// 		position: relative;
		// 		// top: $headerHeightDesktop;
		// 		padding: 0;
		// 		padding-inline-start: 0;
		// 		background-color: $navBackgroundHover;
		// 		// box-shadow: 0 0 0.2rem rgba($primary, 0.7);
		// 		transition: all $base-duration;
		// 		// display: none;
		// 		opacity: 0;
		// 		transform: translateY(-5%);
		// 		z-index: -1;

		// 		li {
		// 			width: 100%;
		// 			height: $headerHeightDesktop / 1.5;
		// 			float: none;
		// 			padding: 0;
		// 			position: relative;
		// 			cursor: pointer;
		// 			transition: all $base-duration;

		// 			a {
		// 				width: 100%;
		// 				height: 100%;
		// 				display: flex;
		// 				align-items: center;
		// 				justify-content: center;
		// 				position: relative;
		// 			}

		// 			&.active {
		// 				background-color: $navColorHover;

		// 				a {
		// 					color: $third;
		// 					background-color: $navColorHover;
		// 				}
		// 			}

		// 			&:hover {
		// 				background-color: $navColorHover;

		// 				&.active {


		// 					a {
		// 						color: $third;
		// 						background-color: $navColorHover;
		// 					}
		// 				}

		// 				a {
		// 					color: $navColorHover;
		// 					background-color: $navBackgroundHoverDark;
		// 				}
		// 			}
		// 		}
		// 	}

		// 	&:hover {


		// 		ul.submenu {
		// 			display: block;
		// 			opacity: 1;
		// 			transform: translateY(0);
		// 		}

		// 		> a {

		// 			svg#navCross {

		// 				#navCrossVert {
		// 					transform: rotate(90deg);
		// 				}

		// 				#navCrossHorz {
		// 					transform: rotate(360deg);
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}

	&-search {
		width: calc(100% - (#{$headerHeight} * 8) - 8rem);
		height: calc(#{$headerHeight} - 1.5rem);
		position: fixed;
		left: $headerHeight * 4;
		top: $headerHeight;
		background-color: $fourth;
		padding: 0.75rem 4rem;
		z-index: 2;
		visibility: hidden;

		&__form {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
		}

		&__input {
			width: calc(100% - #{$headerSearchButton});
			height: 100%;
			display: block;
			border: none;
			outline: none;
			padding: 0 1rem;
			background-color: lighten($five, 90%);
		}

		&__button {
			width: $headerSearchButton;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			border: none;
			outline: none;
			background-color: lighten($five, 60%);

			i {
				color: $fourth;
				font-size: $font-size-base;
			}
		}

		&__background {

			&--mobile {
				width: 100%;
				height: 100vh;
				display: block;
				position: fixed;
				top: 0;
				left: 0;
				background: rgba($seven, 0.7);
				z-index: -1;
				opacity: 0;
				visibility: hidden;
			}
		}

		&--mobile {
			width: 100%;
			height: $headerHeight;
			display: block;
			position: fixed;
			top: $headerHeight;
			left: 0;
			padding: 0;
			z-index: -1;
			transform: translateY(-100%);
			opacity: 0;
			visibility: hidden;

			.header-search__form {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
			}

			.header-search__input {
				width: calc(100% - #{$headerHeight});
				height: 100%;
				display: block;
				border: none;
				outline: none;
				padding: 0 1rem;
				background-color: lighten($five, 90%);
			}

			.header-search__button {
				width: $headerHeight;
				height: $headerHeight;

				i {
					width: $headerHeight / 2;
					height: $headerHeight / 2;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: $headerHeight / 2;
					transform: translate(-50%, -50%);

					&:before {
						width: 100%;
						height: 100%;
						display: block;
					}
				}
			}
		}
	}

	&-device,
	&-device--pad {
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $third;
		position: fixed;
		text-align: center;
		z-index: 9999;
		display: none;
		visibility: hidden;

		&__image {
			width: 6rem;
			display: block;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		span {
			font-size: $font-size-small;
		}
	}

	&__background {
		width: calc(100% - (#{$headerHeight} * 8));
		height: 100%;
		display: block;
		position: absolute;
		background: linear-gradient(to left, $seven 0%, $six 15%, $six 75%, $seven 100%);
		left: $headerHeight * 4;
		// filter: blur(0.5rem);
		z-index: -1;
		opacity: 0;
		visibility: hidden;

		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0; right: 0; bottom: 0; left: 0;
		// 	filter: blur(20px);
		// 	z-index: -1;
		// }

		&--mobile {
			width: 100%;
			height: 100vh;
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba($seven, 0.7);
			z-index: -1;
			opacity: 0;
			visibility: hidden;
		}
	}

	@include grid-media($XXLarge) {

		&--mobile {
			display: none;
			visibility: hidden;
		}

		&-nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&-search {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&-top {
			display: none;
			visibility: hidden;

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($XLarge) {

		&--mobile {
			display: none;
			visibility: hidden;
		}

		&-nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&-search {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&-top {
			display: none;
			visibility: hidden;

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($Large) {

		&--mobile {
			display: none;
			visibility: hidden;
		}

		&-nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&-search {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&-top {
			display: none;
			visibility: hidden;

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($Medium) {

		&--mobile {
			display: none;
			visibility: hidden;
		}

		&-nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&-search {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&-top {
			display: none;
			visibility: hidden;

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($XSmall) {

		&--desktop {
			display: none;
			visibility: hidden;
		}

		&--mobile {
			display: block;
			visibility: visible;
		}

		&-search {

			&--desktop {
				display: none;
				visibility: hidden;
			}

			&--mobile {
				display: block;
				visibility: visible;
			}
		}

		&-top {
			display: block;
			visibility: visible;

			&--mobile {
				display: block;
				visibility: visible;
			}
		}
	}

	@include grid-media($Small) {


		&--desktop {
			display: none;
			visibility: hidden;
		}

		&--mobile {
			display: block;
			visibility: visible;
		}

		&-search {

			&--desktop {
				display: none;
				visibility: hidden;
			}

			&--mobile {
				display: block;
				visibility: visible;
			}
		}

		&-top {
			display: block;
			visibility: visible;

			&--mobile {
				display: block;
				visibility: visible;
			}
		}
	}

	@include grid-media($XPortrait) {

		&-device {
			display: none;
			visibility: hidden;

			&--pad {
				display: flex;
				visibility: visible;
			}
		}
	}

	@include grid-media($Landscape) {

		&-device {
			display: flex;
			visibility: visible;

			&--pad {
				display: none;
				visibility: hidden;
			}
		}
	}
}

.nav-toggle {
	width: $headerHeight / 2;
	height: $headerHeight / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 9999;
	transform: translate(-50%, -50%);

	&__line {
		width: 100%;
		height: $border_normal;
		display: block;
		background-color: $fourth;
		position: absolute;
		transform-origin: 50% 50%;

		&--before {
			width: 100%;
			height: $border_normal;
			display: block;
			position: absolute;
			background-color: $fourth;
			transform: translateY(-300%);
			transform-origin: 50% 50%;
			transition: transform 0.3s;
		}

		&--after {
			width: 100%;
			height: $border_normal;
			display: block;
			position: absolute;
			background-color: $fourth;
			transform: translateY(300%);
			transform-origin: 50% 50%;
			transition: transform 0.3s;
		}

		&--open {
			height: 0;

			&::before {
				transform: rotate(45deg) translateY(0);
			}

			&::after {
				transform: rotate(-45deg) translateY(0);
			}
		}
	}

	@include grid-media($Small) {
		width: 50px;
		height: 50px;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		display: none;
		visibility: hidden;

		#toggleBack,
		.menu-back,
		#menu_icon {
			display: none;
			visibility: hidden;
		}

		&--mobile {
			display: flex;
			visibility: visible;
			z-index: 9999;
		}
	}
}

.anchor-nav {
	top: 0;
	right: 0;
	position: fixed;
	z-index: 9999;

	ul {

		li {
			display: inline-block;

			a {
				color: $third;
			}
		}
	}
}
/*=====  End of Header  ======*/
