/*==============================
=            Layout            =
==============================*/
#main-scrollbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to left, $seven 0%, $six 15%, $six 75%, $seven 100%);

	@include grid-media($Medium) {
		position: inherit;
	}
}

.wrapper {
	width: calc(100% - (#{$headerHeight} * 8));
	min-height: 100vh;
	display: block;
	padding: ($headerHeight * 3) 0 $headerHeight;
	left: $headerHeight * 4;
	position: relative;
	// overflow: hidden;
	// margin-bottom: calc(300px + 4rem);
	background: linear-gradient(to left, $seven 0%, $six 15%, $six 75%, $seven 100%);
	//transition: all .3s;
	// box-shadow: 0 0.3rem 0.6rem rgba($five, 0.3);
	z-index: 1;
	// animation: fadeIn 0.3s ease-in-out;

	&-error {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&__number {
			width: 40%;
			min-height: 30vh;
			position: relative;

			svg {
				width: 100%;
				height: auto;
				stroke: lighten($secondary, 70%);
				stroke-width: 5;
				fill: none;
				padding: 1rem;
				transition-duration: 0.3s;
			}
		}

		&__text {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;

			h2 {
				font-size: $font-size-h1;
				animation: fadeIn 3s ease-in-out;
				//animation-delay: 2s;
			}
		}

		&__button {
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			left: 0;
			top: 15vh;
			position: absolute;

			.button-back {
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid $primary;
				background-color: $secondary;
				overflow: hidden;
				transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

				&::after {
					content: '';
					//width: 100%;
					//height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					background-color: $primary;
					z-index: 1;
					//box-sizing: border-box;
					transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
					transform: scaleX(0);
					transform-origin: center right;
				}

				svg {
					fill: none;
					stroke: $primary;
					stroke-width: 6;
					z-index: 10;
					transition: all 0.3s;
				}

				&:hover {

					svg {
						stroke: $secondary;
						transform: translateX(-5px);
					}

					&::after {
						transform: scaleX(1);
						transition-delay: 0s;
					}
				}
			}
		}
	}

	&-front {
		padding-top: $headerHeight;
	}

	&-contact {
		padding-top: $headerHeight * 3;
	}

	&-page {
		width: 100%;
		// min-height: calc(100vh - (#{$headerHeight} * 4.5));
		display: block;
		// padding: ($headerHeight * 3) 0 ($headerHeight * 1.5);
		padding: ($headerHeight * 3) 0 ($headerHeight * 2);

		&__accordion {
			width: 100%;
			min-height: 100vh;
			// margin: 0 1rem;
			display: none;
			visibility: hidden;
			overflow: hidden;
			position: relative;
			padding: ($headerHeight * 2) 0 $headerHeight;
			// background-color: $wrapperBackground;

			.panel {
				display: block;
				position: relative;
				overflow: hidden;
				// margin: 0 0 ($headerHeight / 4);

				&-header {
					height: $headerHeight + 1;
					display: flex;
					align-items: center;
					line-height: 1.2;
					padding: ($headerHeight / 4) $headerHeight ($headerHeight / 4) ($headerHeight / 4);
					cursor: pointer;
					background-color: $secondary;

					h3, i {
						color: $third;
						font-size: $font-size-h3;
					}
				}

				&-content {
					position: relative;
					height: 0;
					padding: ($headerHeight / 8) ($headerHeight / 4) ($headerHeight / 4);

					p {
						margin: 1rem 0;
					}

					ul {
						margin: 1rem 0;
					}
				}

				span i {
					padding-right: 0;
				}
			}

			.arrow {
				position: absolute;
				right: 2rem;
				font-weight: bold;
				transform: translateX(50%);
			}
		}
	}

	&-search {
		width: calc(100% - (#{$headerHeight} * 10));
		padding-left: $headerHeight;
		padding-right: $headerHeight;
		z-index: 9902;
	}

	&-product {
		padding: ($headerHeight * 2) 0 $headerHeight;
	}

	&__breadcrumbs {
		width: calc(100% - (#{$headerHeight} * 8) - (#{$headerHeight} * 2));
		height: $headerHeight;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		left: $headerHeight * 4;
		top: 0;
		padding: 0 $headerHeight;

		ul {
			text-align: center;
			// line-height: 1.2;

			li {
				display: inline-block;
				color: $fourth;
				font-size: $font-size-small;

				a {
					color: $secondary;

					&:hover {
						color: $fourth;
					}
				}
			}
		}

		&--mobile {
			width: calc(100% - (#{$headerHeight} / 2));
			height: $headerHeight;
			display: flex;
			align-items: center;
			justify-content: center;
			position: fixed;
			left: 0;
			top: $headerHeight;
			padding: 0 ($headerHeight / 4);
			background-color: $seven;

			ul {
				text-align: center;
				line-height: 1;

				li {
					display: inline-block;
					color: $fourth;
					font-size: $font-size-small;

					a {
						color: $secondary;

						&:hover {
							color: $fourth;
						}
					}
				}
			}
		}
	}

	&__title {
		width: calc(100% - (#{$headerHeight} * 8));
		height: $headerHeight;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: fixed;
		left: $headerHeight * 4;
		top: $headerHeight;
		text-align: center;

		h1 {
			// margin-top: 0.5rem;
			border-bottom: $border_heavy solid $secondary;
			text-transform: none;
		}

		&--mobile {
			width: calc(100% - (#{$headerHeight} / 2));
			height: inherit;
			min-height: $headerHeight;
			position: relative;
			left: 0;
			top: 0;
			text-align: center;
			padding: 0 ($headerHeight / 4);
			display: none;
			visibility: hidden;
			align-items: center;
		}
	}

	&--visible {
		animation: translateIn 1.5s ease-in-out;
	}

	@include grid-media($Medium) {

	}

	@include grid-media($XSmall) {
		width: 100%;
		left: 0;
		padding: ($headerHeight * 2.5) 0 $headerHeight;

		&-page {

			&--desktop {
				display: none;
				visibility: hidden;
			}

			&__accordion {
				display: block;
				visibility: visible;
			}
		}

		&-search {
			width: calc(100% - (#{$headerHeight} / 2));
			padding: ($headerHeight * 2.5) ($headerHeight / 4);
		}
	}

	@include grid-media($Small) {

		&-front,
		&-contact {
			padding-top: $headerHeight;
		}

		&__title {

			&--mobile {
				display: flex;
				visibility: visible;
			}
		}
	}
}

.main-wrapper {
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.filled {
	fill: $primary;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes translateIn {
	from {
		transform: scale(0.7);
		opacity: 0
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

/*=====  End of Layout  ======*/


/*==================================
=            Arrow down            =
==================================*/

.arrow-down {
    width: 30px;
    height: 50px;
    display: block;
    // background-color: $secondary;
    // border: 2px solid $primary;
    // border-radius: 20px;
    //border-top-left-radius: 25px;
    //border-top-right-radius: 25px;
    position: absolute;
    margin-left: -5px;
    left: 50%;
    transform: translateX(-50%);
    // bottom: $sidebarPadding / 3;
    z-index: 999;
    animation: fadeIn 1.4s ease-in-out;

    // &:hover {
    //     //border-color: lighten(@brand-primary, 25%);
    // }

    svg {
        width: 30px;
	    height: 50px;
        padding: 5px;

        rect, polyline {
            fill: $primary;
        }

        #arrowDownMove {
        	stroke: $primary;
        	stroke-width: 5;
        	fill: none;
        	animation: arrow-down 0.6s infinite alternate ease-out;
        }
    }

    @include grid-media($Small) {
        visibility: hidden;
    }
}

@keyframes arrow-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4px);
    }
}

/*=====  End of Arrow down  ======*/

.scrollbar {

	&-track {
		background: transparent !important;
	}

	&-thumb {
		background: $primary !important;
	}
}