/*==================================
=            Navigation            =
==================================*/

.nav-main {
	width: $headerLogoWidth;
	// height: calc(100vh - #{$headerLogoWidth} - #{$headerSocialTopHeight});
	position: fixed;
	// left: -100%;
	top: calc(#{$headerLogoWidth} + #{$headerSocialTopHeight});
	// padding: 3rem 0;
	// background-color: $secondary;
	z-index: 9910;
	visibility: hidden;
	display: block;
	transform: translateX(-100%);

	ul {
		width: 100%;

		li {
			width: calc(100% - 4rem);
			height: $headerSocialTopHeight;
			padding: 0 2rem;
			text-align: right;
			background-color: $secondary;

			a {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				font-family: $heading-font;
				font-size: $font-size-large;
				line-height: 1;
				text-align: right;
			}

			&:hover {
				background-color: darken($secondary, 3%);
			}

			&.active {
				background-color: darken($secondary, 7%);

				a {
					color: $third;
				}
			}
		}
	}

	&__children {

		> a {

			svg#navCross {
				width: 0.5rem;
				height: 0.5rem;
				display: block;
				float: left;
				position: relative;
				margin-left: $marginVert / 4;
				transform: translateY(20%);

				#navCrossVert {
					fill: none;
					stroke: $colorPrimary20;
					stroke-width: 0.2rem;
					transform-origin: 50% 50%;
					transition: transform .2s;
				}

				#navCrossHorz {
					fill: none;
					stroke: $colorPrimary20;
					stroke-width: 0.2rem;
					transform-origin: 50% 50%;
					transition: transform .2s;
				}
			}
		}

		ul.submenu {
			width: 100%;
			position: relative;
			// top: $headerHeightDesktop;
			padding: 0;
			padding-inline-start: 0;
			background-color: $navBackgroundHover;
			// box-shadow: 0 0 0.2rem rgba($primary, 0.7);
			transition: all $base-duration;
			// display: none;
			opacity: 0;
			transform: translateY(-5%);
			z-index: -1;

			li {
				width: 100%;
				height: $headerHeightDesktop / 1.5;
				float: none;
				padding: 0;
				position: relative;
				cursor: pointer;
				transition: all $base-duration;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
				}

				&.active {
					background-color: $navColorHover;

					a {
						color: $third;
						background-color: $navColorHover;
					}
				}

				&:hover {
					background-color: $navColorHover;

					&.active {


						a {
							color: $third;
							background-color: $navColorHover;
						}
					}

					a {
						color: $navColorHover;
						background-color: $navBackgroundHoverDark;
					}
				}
			}
		}

		&:hover {


			ul.submenu {
				display: block;
				opacity: 1;
				transform: translateY(0);
			}

			> a {

				svg#navCross {

					#navCrossVert {
						transform: rotate(90deg);
					}

					#navCrossHorz {
						transform: rotate(360deg);
					}
				}
			}
		}
	}

	&--hidden {
		display: none;
		visibility: hidden;
		transform: translateX(-100%);
	}

	&--visible {
		display: flex;
		align-items: center;
	}

	&--mobile {
		width: 100%;
		height: calc(100vh - 6rem - 100px);
		position: fixed;
		left: -100%;
		top: 50px;
		padding: 3rem 0;
		background-color: $secondary;
		// flex-direction: column;
		// justify-content: flex-start;
		// align-items: center;
		// transform: translateX(-100%);
		z-index: -1;
		overflow: auto;
	}

	@include grid-media($XXLarge) {

		&--mobile {
			display: none;
		}
	}

	@include grid-media($XLarge) {

		&--mobile {
			display: none;
		}
	}

	@include grid-media($Large) {

		&--mobile {
			display: none;
		}
	}

	@include grid-media($Medium) {

		&--mobile {
			display: none;
		}
	}

	@include grid-media($XSmall) {
		// flex-direction: column;
		// justify-content: center;
		// align-items: flex-end;
	}

	@include grid-media($Small) {
		display: none;
		visibility: hidden;

		&--mobile {
			display: block;
			left: -150%;
		}
	}
}

.nav-toggle {
	width: $headerSocialTopHeight / 2;
	height: $headerSocialTopHeight / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 9999;
	transform: translate(-50%, -50%);

	&__line {
		width: 100%;
		height: $border_normal;
		display: block;
		background-color: $third;
		position: absolute;

		&--before {
			width: 100%;
			height: $border_normal;
			display: block;
			position: absolute;
			background-color: $third;
			transform: translateY(-300%);
			transform-origin: 0 0;
			transition: transform 0.3s;
		}

		&--after {
			width: 100%;
			height: $border_normal;
			display: block;
			position: absolute;
			background-color: $third;
			transform: translateY(300%);
			transform-origin: 100% 0;
			transition: transform 0.3s;
		}

		&--open {
			height: 0;

			&::before {
				transform: rotate(45deg) translateY(0);
			}

			&::after {
				transform: rotate(-45deg) translateY(0);
			}
		}
	}


	@include grid-media($Small) {
		width: 50px;
		height: 50px;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		display: none;
		visibility: hidden;

		#toggleBack,
		.menu-back,
		#menu_icon {
			display: none;
			visibility: hidden;
		}

		&--mobile {
			display: flex;
			visibility: visible;
			z-index: 9999;
		}
	}
}

.nav-back {
	width: 50%;
	height: calc(100vh - 6rem);
	top: 0;
	right: -100%;
	padding: 3rem 0;
	position: fixed;
	background-color: $primary;
	z-index: -1;
	display: block;
	// align-items: center;
	// opacity: 0.7;
	// display: none;
	// visibility: hidden;
	// transform: translateX(100%);

	&--visible {
		display: block;
		visibility: visible;
	}

	.nav-close {
		width: 3rem;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		// border-radius: 50%;
		// border: 0.3rem solid $secondary;
		background-color: $primary;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		cursor: pointer;
		transition: background 0.3s;
		transform-origin: 50% 50%;
		z-index: 9600;

		svg {
			width: 2rem;
			height: 2rem;
			// transform: rotate(45deg);

			polygon {
				fill: $secondary;
			}
		}

		&:hover {

			svg {
				transform: rotate(-180deg);
			}
		}
	}

	@include grid-media($Medium) {
		// width: calc(50% - 8rem);
		// padding: 3rem 4rem 3rem;
	}

	@include grid-media($XSmall) {
		// width: calc(50% - 8rem);
		// padding: 3rem 4rem 3rem;
	}

	@include grid-media($Small) {

		.nav-close {
			display: none;
			visibility: hidden;
		}
	}
}

/*=====  End of Navigation  ======*/
