/*=============================================
=                   Page                   =
=============================================*/

.page-content {


	&__right {
		width: calc(((100% / 3) * 2) - (#{$mainPadding} * 2));
		height: 100%;
		display: block;
		position: relative;
		left: calc(100% / 3);
		padding: 0 $mainPadding;
	}

	&__text {
		width: 100%;

		&-inside {
			display: none;
			transition: all 0.3s;

			&.active {
				display: block;
				animation: fadeIn 0.8s ease-in-out;
			}
		}
	}

	&__tabs {
		width: calc(100% - #{$mainPadding});
		height: calc(100% - (#{$headerHeight} / 2));
		display: flex;
		flex-direction: column;
		top: 0;
		right: 0;
		padding-top: $headerHeight / 2;
		position: absolute;

		li {
			width: 100%;
			height: auto;
			background-color: lighten($third, 2%);
			margin-bottom: $headerHeight / 4;
			transition: color $base-duration;

			a {
				width: calc(100% - #{$headerHeight} - #{$border_bold});
				// height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				color: $primary;
				font: {
					family: $heading-font;
					size: $font-size-large;
				};
				line-height: 1.2;
				text-align: right;
				padding: ($headerHeight / 4) ($headerHeight / 2);
				border: $border_bold solid $primary;
				border-right: none;
			}

			&.active {
				background-color: $third;

				a {
					color: $secondary;
					border-color: $secondary;
				}
			}
		}
	}

	@include grid-media($XXLarge) {

		&__right {
			width: calc(((100% / 3) * 2) - (#{$headerHeight} * 4) - #{$mainPadding});
			padding: 0 ($headerHeight * 4) 0 $mainPadding;
		}
	}

	@include grid-media($XLarge) {

		&__right {
			width: calc(((100% / 3) * 2) - (#{$headerHeight} * 4) - #{$mainPadding});
			padding: 0 ($headerHeight * 4) 0 $mainPadding;
		}
	}

	@include grid-media($Large) {

		&__right {
			width: calc(((100% / 3) * 2) - (#{$mainPadding} * 2));
			padding: 0 $mainPadding;
		}
	}

	@include grid-media($XSmall) {

		&__tabs {
			display: none;
			visibility: hidden;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeDown {
	0% {
		opacity: 0;
		transform: translateY(15%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*============  End of Page  =============*/