/*==================================================
=                   Product Page                   =
==================================================*/

.product-content {

	&__top {
		width: 100%;
		min-height: 20vh;
		display: flex;
		flex-direction: row;
		margin-bottom: $headerHeight;
	}

	&__image {
		width: calc(45% - (#{$headerHeight} / 2));
		display: block;
		margin-right: $headerHeight / 2;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
		}
	}

	&__table {
		width: 55%;
		display: block;

		tbody {
			width: 100%;
			display: block;
		}

		tr {
			width: 100%;
			display: flex;
			flex-direction: row;
			// border-bottom: $border_thin solid $secondary;
			background-color: $seven;

			// &:first-child,
			// &:last-child {
			// 	border-top: $border_thin solid $secondary;
			// }

			&:nth-child(2n) {
				background-color: darken($seven, 3%);

				.product-content__table-name {
					border-color: $seven;
				}
			}
		}

		&-name {
			width: calc(60% - #{$border_normal} - #{$headerHeight});
			min-height: $headerHeight / 2;
			display: flex;
			align-items: center;
			border-right: $border_normal solid darken($seven, 3%);
			padding: 0.5rem ($headerHeight / 2);
			text-align: left;
		}

		&-description {
			width: calc(40% - #{$headerHeight});
			// height: $headerHeight / 1.5;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem ($headerHeight / 2);
			text-align: center;
		}
	}

	&__count {
		display: none;
		visibility: hidden;
	}

	&__text {

		ul {
			list-style: disc;
			padding-left: 1rem;
		}
	}

	@include grid-media($Small) {
		width: 100%;

		&__top {
			flex-direction: column;
			margin-bottom: $headerHeight / 2;
		}

		&__image {
			width: 100%;
		}

		&__table {
			width: 100%;
			margin-top: $headerHeight / 4;
		}
	}
}

/*============  End of Product Page  =============*/