/*=============================================
=                   Search                   =
=============================================*/

.search {

    &-content {


		&__results {
			width: 100%;
			min-height: 50vh;

			&-list {
				width: calc((#{$headerHeight} * 4) - 1rem);
				height: $headerHeight;
				display: flex;
				align-items: center;
				position: fixed;
				padding-left: 1rem;
				top: $headerHeight;
				left: $headerHeight * 4;
				font-size: $font-size-small;
				z-index: 9901;
			}

			&-paging {
				width: calc((#{$headerHeight} * 4) - 1rem);
				height: $headerHeight;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				position: fixed;
				padding-right: 1rem;
				top: $headerHeight;
				right: $headerHeight * 4;
				font-size: $font-size-small;
				text-align: right;
				z-index: 9901;
			}
		}

		&__preview {
			width: 100%;
			min-height: $headerHeight;
			display: block;
			padding-bottom: $headerHeight / 2;
			margin-bottom: $headerHeight;
			border-bottom: $border_normal solid $secondary;
			position: relative;

			&-title {
				width: 100%;
				display: block;
				position: relative;
				margin-bottom: $headerHeight / 3;

				h3 {
					color: $secondary;
				}

				&:hover {

					h3 {
						color: $fourth;
					}
				}
			}

			&-text {
				margin-bottom: $headerHeight / 3;
			}

			&-link {
				padding: 0.3rem 0.8rem;
				position: absolute;
				background-color: $secondary;
				color: $third;
				right: 0;
				bottom: 0;
				font-size: $font-size-small;

				&:hover {
					background-color: $fourth;
				}
			}
		}
	}

	&__background {
		width: calc(100% - (#{$headerHeight} * 8));
		height: $headerHeight * 2;
		display: block;
		position: fixed;
		background: linear-gradient(to left, $seven 0%, $six 15%, $six 75%, $seven 100%);
		top: 0;
		left: $headerHeight * 4;
		// filter: blur(0.5rem);
		z-index: 9901;
		opacity: 0;
		visibility: hidden;

		&--mobile {
			width: 100%;
			height: 100vh;
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba($seven, 0.7);
			z-index: -1;
			opacity: 0;
			visibility: hidden;
		}
	}

	@include grid-media($XSmall) {

		&-content {

			&__results {

				&-list {
					width: calc(50% - 1rem);
					left: 0;
					background-color: rgba($seven, 0.8);
				}

				&-paging {
					width: calc(50% - 1rem);
					right: 0;
					background-color: rgba($seven, 0.8);
				}
			}
		}
	}
}

/*============  End of Search  =============*/