/*=============================================
=                   Section                   =
=============================================*/

.section {
	width: 100%;
	min-height: 100vh;
	display: block;
	position: relative;
	overflow: hidden;

	&--short {
		min-height: 30vh;
	}

	&__image {
		width: 100%;
		height: calc(50vh - #{$headerHeight});
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		// transform: translateX(50%);
		background-color: $fourth;
		margin-bottom: $headerHeight / 2;
		overflow: hidden;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: contain;
			object-position: center;
			position: absolute;
			// left: 50%;
			// transform: translateX(-50%);
		}
	}

	&__slogan {
		width: 100%;
		height: 50vh;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;

		#frontIntroLineFirst {
			width: 85%;
			height: auto;
			display: flex;
			flex-direction: row;
			position: absolute;
			top: 0;
			right: 0;

			span {
				// width: $frontSloganFirstWidth;
				height: $frontSloganFirstSize - 1;
				display: inline-block;
				font-size: $frontSloganFirstSize;
				font-family: $heading-font;
				text-transform: uppercase;
				line-height: 1;
				margin-right: 1rem;
			}

			&:after {
				content: "";
				width: calc(100% - #{$frontSloganFirstWidth});
				height: $frontSloganFirstSize - 1;
				display: block;
				background-color: $secondary;
			}
		}

		#frontIntroLineSecond {
			width: 85%;
			height: auto;
			display: flex;
			flex-direction: row;
			position: absolute;
			top: $frontSloganSecondTop;
			left: 0;

			span {
				// width: $frontSloganSecondWidth;
				height: $frontSloganSecondSize - 1;
				display: inline-block;
				font-size: $frontSloganSecondSize;
				font-family: $heading-font;
				text-transform: uppercase;
				line-height: 1;
				text-align: right;
				margin-left: 1rem;
			}

			&:before {
				content: "";
				width: calc(100% - #{$frontSloganSecondWidth});
				height: $frontSloganSecondSize - 1;
				display: block;
				background-color: $primary;
			}
		}

		#frontIntroLineThird {
			width: 90%;
			height: auto;
			display: flex;
			flex-direction: row;
			position: absolute;
			top: $frontSloganThirdTop;
			left: 0;

			span {
				// width: $frontSloganThirdWidth;
				height: $frontSloganThirdSize - 1.5;
				display: inline-block;
				font-size: $frontSloganThirdSize;
				font-family: $heading-font;
				text-transform: uppercase;
				line-height: 1;
				text-align: right;
				margin-left: 1rem;
			}

			&:before {
				content: "";
				width: calc(100% - #{$frontSloganThirdWidth});
				height: $frontSloganThirdSize - 1;
				display: block;
				background-color: $secondary;
			}
		}

		#frontIntroLineFourth {
			width: 90%;
			height: auto;
			display: flex;
			flex-direction: row;
			position: absolute;
			top: $frontSloganFourthTop;
			right: 0;

			span {
				// width: $frontSloganFourthWidth;
				height: $frontSloganFourthSize - 1;
				display: inline-block;
				font-size: $frontSloganFourthSize;
				font-family: $heading-font;
				text-transform: uppercase;
				line-height: 1;
				// text-align: right;
				margin-right: 1rem;
			}

			&:after {
				content: "";
				width: calc(100% - #{$frontSloganFourthWidth});
				height: $frontSloganFourthSize - 1;
				display: block;
				background-color: $primary;
			}
		}

		#catalogueIntroLineFirst {
			width: 80%;
			height: auto;
			display: flex;
			flex-direction: row;
			position: absolute;
			top: $frontSloganSecondTop;
			left: 0;

			span {
				width: $frontSloganFirstWidth - 14;
				height: $frontSloganThirdSize - 1.5;
				display: inline-block;
				font-size: $frontSloganFirstSize + 2;
				font-family: $heading-font;
				// color: $third;
				text-transform: uppercase;
				line-height: 1;
				text-align: right;
			}

			&:before {
				content: "";
				width: calc(100% - (#{$frontSloganFirstWidth} - 14%));
				height: $frontSloganThirdSize;
				display: block;
				background-color: $secondary;
			}
		}

		#catalogueIntroLineSecond {
			width: 80%;
			height: auto;
			display: flex;
			flex-direction: row;
			position: absolute;
			top: $frontSloganThirdTop + 10;
			right: 0;

			span {
				// width: calc((#{$frontSloganSecondWidth} + 7%) - #{$headerHeight});
				height: $frontSloganFourthSize - 1;
				display: inline-block;
				font-size: $frontSloganFourthSize;
				font-family: $heading-font;
				text-transform: uppercase;
				line-height: 1;
				padding-right: $headerHeight;
				text-align: right;
			}

			&:after {
				content: "";
				// width: calc(100% - (#{$frontSloganSecondWidth} + 7%));
				width: 80%;
				height: $frontSloganFourthSize - 1;
				display: block;
				background-color: $primary;
				// margin-top: -1.8rem;
			}
		}

		#catalogueIntroArrow {
			width: auto;
			height: 12rem;
			display: block;
			position: absolute;
			stroke: $secondary;
			stroke-width: $border_normal;
			stroke-miterlimit: 10;
			left: 7%;
			bottom: 18%;
		}

		&-second {
			width: 100%;
			min-height: 10vh;
			display: block;
			position: relative;
			margin-bottom: $headerHeight;
			margin-top: $headerHeight;
			bottom: 0;
			left: 0;
			z-index: 2;

			#frontCompanyLineFirst {
				width: 80%;
				height: auto;
				display: flex;
				flex-direction: row;
				position: relative;
				left: 0;

				span {
					width: $frontSloganSecondWidth;
					height: $frontSloganSecondSize - 1;
					display: inline-block;
					font-size: $frontSloganSecondSize;
					font-family: $heading-font;
					text-transform: uppercase;
					line-height: 1;
					text-align: right;
					margin-left: $headerHeight / 2;
				}

				&:before {
					content: "";
					width: calc(100% - #{$frontSloganSecondWidth});
					height: $frontSloganSecondSize - 1;
					display: block;
					background-color: $primary;
				}
			}

			#frontCompanyLineSecond {
				// width: 80%;
				height: auto;
				display: flex;
				flex-direction: row;
				position: relative;
				margin-top: 1.5rem;
				right: 0;

				span {
					width: calc(100% - (#{$frontSloganSecondWidth} - 2%));
					height: $frontSloganThirdSize - 1;
					display: inline-block;
					font-size: $frontSloganThirdSize;
					font-family: $heading-font;
					text-transform: uppercase;
					line-height: 1;
					text-align: right;
					margin-right: $headerHeight / 2;
				}

				&:after {
					content: "";
					width: $frontSloganSecondWidth - 2;
					height: $frontSloganThirdSize - 1;
					display: block;
					background-color: $secondary;
				}
			}
		}
	}

	&-content {
		width: calc(100% - (#{$mainPadding} * 2));
		// height: 100%;
		display: flex;
		flex-direction: row;
		padding: 0 $mainPadding;

		&__left {
			width: calc(50% - (#{$headerHeight} / 2));
			min-height: 30vh;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-right: $headerHeight / 2;
			// margin-right: $headerHeight / 2;
			border-right: ($border_heavy / 2) solid $secondary;

			// .section-content__inside-text {


			// }

			.section-content__inside-link {
				text-align: right;
				display: block;
				position: relative;
				padding-right: $headerHeight / 2;
				transform: translateX(($headerHeight / 2));
				transition: all $base-duration;

				&:after {
					content:"\f054";
					font-family: 'fontawesome';
					font-size: 0;
					color: $six;
					width: $headerHeight / 2;
					height: calc(#{$font-size-base} + 1.2vmax);
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: $secondary;
					position: absolute;
					right: 0;
					top: 0;
					transform: scaleX(0);
					transform-origin: 100% 50%;
					transition: all $base-duration;
				}

				&:hover {
					margin-right: $headerHeight / 2;

					&:after {
						font-size: $font-size-large;
						margin-left: $headerHeight / 2;
						right: -($headerHeight / 2);
						transform: scale(100%);
					}
				}
			}

			.section-content__inside-logo {
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				a {
					width: calc(100% - 2rem);
					height: 10rem;
					display: flex;
					flex-direction: column;
					margin: 1rem 0;
					background-color: $fourth;
					padding: 2rem 2rem 1rem;
					transition: all 0.6s;
					transform: translateX(2rem);
					transform-origin: 100% 0;

					img {
						width: 100%;
						height: 70%;
						display: block;
						// object-fit: cover;
						object-position: center;
						transition: all 0.3s;
						transform-origin: 100% 0;
					}

					span {
						width: 100%;
						height: 30%;
						display: flex;
						align-items: flex-end;
						justify-content: center;
						font-family: $heading-font;
						font-size: calc(#{$font-size-base} + 0.5vmax);
						transition: all 0.5s;
						transform-origin: 100% 0;
					}

					&:first-child {
						margin-top: 2rem;
					}

					&:last-child {
						margin-bottom: 0;
					}

					&:hover {
						transform: translateX(2rem) scaleX(0.9);

						img {
							transform: translateX(5%) scaleX(1.1);
						}

						span {
							transform: translateX(5%) scaleX(1.1);
						}
					}
				}
			}
		}

		&__right {
			width: calc(50% - (#{$headerHeight} / 2));
			min-height: 30vh;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: $headerHeight / 2;
			// margin-left: $headerHeight / 2;
			border-left: ($border_heavy / 2) solid $secondary;

			// .section-content__inside-text {


			// }

			.section-content__inside-link {
				display: block;
				position: relative;
				padding-left: $headerHeight / 2;
				transform: translateX(-($headerHeight / 2));
				transition: all $base-duration;

				&:before {
					content:"\f054";
					font-family: 'fontawesome';
					font-size: 0;
					color: $six;
					width: $headerHeight / 2;
					height: calc(#{$font-size-base} + 1.2vmax);
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: $secondary;
					position: absolute;
					left: 0;
					top: 0;
					transform: scaleX(0);
					transform-origin: 0 50%;
					transition: all $base-duration;
				}

				&:hover {
					margin-left: $headerHeight / 2;

					&:before {
						font-size: $font-size-large;
						margin-right: $headerHeight / 2;
						left: -($headerHeight / 2);
						transform: scale(100%);
					}
				}
			}
		}

		&__inside {
			// width: 100%;
			width: calc(100% - (#{$headerHeight} * 2));
			min-height: 3vh;
			// display: flex;
			// flex-direction: row;
			position: relative;
			// left: $headerHeight * 4;
			// padding: $headerHeight 0;
			margin: 0 $headerHeight;

			&-text {
				width: 100%;
				min-height: 100%;
				display: block;
				// border-left: $border_heavy solid $secondary;
				// padding-left: $headerHeight;
				margin: ($headerHeight * 2) 0;
			}

			&-link {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 1;

				h2 {
					width: 60%;
					font-size: calc(#{$font-size-base} + 2vmax);
					padding: 0 ($mainPadding / 2);
					margin: 0;
					text-align: center;
					transition: all $base-duration;
				}

				svg {
					width: 20%;
					fill: none;
					stroke: $fourth;
					stroke-linecap: round;
					stroke-width: $border_heavy;
					stroke-dasharray: 3 24;
				}

				&:hover {

					h2 {
						color: $secondary;
						letter-spacing: 0.05rem;
					}

					svg {
						stroke: $secondary;
					}
				}
			}

			&-logo {
				width: 100%;
				min-height: 10vh;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-around;
				margin-top: $headerHeight / 2;

				a {
					// @include rowMachine(3, 2rem);
					width: 25%;
					min-height: $headerHeight;
					text-align: center;
					// display: flex;
					// justify-content: center;
					// flex-direction: column;
					// margin-right: $headerHeight / 2;
					// background-color: $fourth;
					// padding: 1rem;
					transition: all 0.6s;
					// transform: translateX(2rem);
					// transform-origin: 100% 0;

					img {
						width: 80%;
						height: 100%;
						display: block;
						// object-fit: cover;
						object-position: center;
						// margin-right: $headerHeight / 2;
						// background-color: $fourth;
						// padding: 1rem;
						transition: all 0.3s;
						// transform-origin: 100% 0;
					}

					span {
						width: 100%;
						height: 30%;
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: $heading-font;
						font-size: calc(#{$font-size-base} + 0.2vmax);
						// text-transform: uppercase;
						color: $secondary;
						// padding: 1rem 0;
						transition: all 0.5s;
						// transform-origin: 100% 0;
					}

					// &:first-child {
					// 	margin-top: 2rem;
					// }

					// &:last-child {
					// 	margin-bottom: 0;
					// }

					// &:nth-child(3n) {
					// 	margin-right: 0;
					// }

					&:hover {
						background-color: darken($six, 2%);

						img {
							transform: scaleX(1.0.5);
						}

						// span {
						// 	transform: translateX(5%) scaleX(1.1);
						// }
					}
				}
			}

			h4 {
				margin-top: $headerHeight / 2;
			}

			// ul {
			// 	list-style: disc;
			// 	padding-left: 1rem;
			// }
		}

		&__logo-single {
			width: 100%;
			height: calc(70% - 2rem);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem 0;
		}

		&__text {
			width: calc(100% - (#{$headerHeight} * 2));
			min-height: 30vh;
			display: block;
			position: relative;
			// left: $headerHeight * 4;
			padding: $headerHeight;
			// border-bottom: $border_heavy solid $secondary;
		}

		&__map {
			width: 100%;
			height: 50vh;
			display: block;
			background-color: $fourth;
			z-index: 1;

			&:before {
				content: "Загрузка карты...";
				font-size: $font-size-small;
				color: $five;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 0;
			}
		}
	}

	&-catalogue {
		width: 100%;
		min-height: 100vh;
		display: block;
		position: relative;
	}

	@include grid-media($XXLarge) {

		&-content {
			width: calc(100% - (#{$headerHeight} * 8));
			padding: 0 ($headerHeight * 4);

			&__left {

				.section-content__inside-logo {

					a {
						width: calc(70% - 2rem);
					}
				}
			}
		}
	}

	@include grid-media($XLarge) {

		&-content {
			width: calc(100% - (#{$headerHeight} * 8));
			padding: 0 ($headerHeight * 4);

			&__left {

				.section-content__inside-logo {

					a {
						width: calc(70% - 2rem);
					}
				}
			}
		}
	}

	@include grid-media($Large) {

		&-content {
			width: calc(100% - (#{$mainPadding} * 2));
			padding: 0 $mainPadding;
		}
	}

	@include grid-media($XSmall) {


		// &__image {
		// 	display: none;
		// 	visibility: hidden;
		// }

		&__slogan {
			height: 40vh;
			bottom: 7%;
			// top: 50%;
			// transform: translateY(-50%);

			#frontIntroLineFirst {
				width: 90%;

				span {
					// width: $frontSloganFirstWidth + 8;
					height: $frontSloganFirstSize;
					font-size: $frontSloganFirstSize + 2;
				}

				&:after {
					width: calc(100% - (#{$frontSloganFirstWidth} + 8%));
					height: $frontSloganFirstSize;
				}
			}

			#frontIntroLineSecond {
				width: 90%;
				top: 15%;

				span {
					// width: $frontSloganSecondWidth + 8;
					height: $frontSloganSecondSize + 0.5;
					font-size: $frontSloganSecondSize + 2;
				}

				&:before {
					width: calc(100% - (#{$frontSloganSecondWidth} + 8%));
					height: $frontSloganSecondSize + 0.5;
				}
			}

			#frontIntroLineThird {
				width: 90%;
				top: 29%;

				span {
					// width: $frontSloganThirdWidth + 8;
					height: $frontSloganThirdSize;
					font-size: $frontSloganThirdSize + 2;
				}

				&:before {
					width: calc(100% - (#{$frontSloganThirdWidth} + 8%));
					height: $frontSloganThirdSize;
				}
			}

			#frontIntroLineFourth {
				width: 90%;
				top: 45%;

				span {
					// width: $frontSloganFourthWidth + 13;
					height: $frontSloganFourthSize + 0.5;
					font-size: $frontSloganFourthSize + 2;
				}

				&:after {
					width: calc(100% - (#{$frontSloganFourthWidth} + 13%));
					height: $frontSloganFourthSize + 0.5;
				}
			}

			&-second {
				margin-bottom: $headerHeight;

				#frontCompanyLineFirst {
					width: 90%;

					span {
						width: $frontSloganSecondWidth + 8;
						height: $frontSloganSecondSize + 0.5;
						font-size: $frontSloganSecondSize + 2;
						margin-left: $headerHeight / 4;
					}

					&:before {
						width: calc(100% - (#{$frontSloganSecondSize} + 8%));
						height: $frontSloganSecondSize + 0.5;
					}
				}

				#frontCompanyLineSecond {


					span {
						// width: calc(100% - (#{$frontSloganSecondWidth} - 5%));
						height: $frontSloganThirdSize - 0.5;
						font-size: $frontSloganThirdSize + 1;
						margin-right: $headerHeight / 4;
					}

					&:after {
						// width: $frontSloganSecondWidth - 5;
						height: $frontSloganThirdSize - 0.5;
					}
				}
			}

			#catalogueIntroLineFirst {
				width: 90%;

				span {
					width: $frontSloganFirstWidth - 10;
					height: $frontSloganThirdSize + 0.5;
					font-size: $frontSloganFirstSize + 3;
				}

				&:before {
					width: calc(100% - (#{$frontSloganFirstWidth} - 10%));
					height: $frontSloganThirdSize + 0.5;
				}
			}

			#catalogueIntroLineSecond {
				width: 90%;
				top: 40%;

				span {
					height: $frontSloganFourthSize;
					font-size: $frontSloganFourthSize + 5;
					padding-right: $headerHeight / 2;
				}

				&:after {
					width: 90%;
					height: $frontSloganFourthSize + 2.5;
				}
			}

			#catalogueIntroArrow {
				display: none;
				visibility: hidden;
			}
		}

		&-content {
			width: calc(100% - (#{$headerHeight} / 2));
			padding: 0 ($headerHeight / 4);

			&__text {
				width: calc(100% - (#{$headerHeight} / 2));
				padding: 0 ($headerHeight / 4);
				left: 0;
			}

			&__inside {
				width: calc(100% - (#{$headerHeight} / 2));
				padding: $headerHeight ($headerHeight / 4);
				left: 0;
				margin: 0;

				&-text {
					margin: ($headerHeight / 2) 0;
				}

				&-logo {

					a {
						width: 100%;
						margin-bottom: $headerHeight / 2;

						span {
							font-size: calc(#{$font-size-base} + 1vmax);
						}
					}
				}

				&-link {

					h2 {
						font-size: calc(#{$font-size-base} + 1.8vmax);
					}
				}
			}
		}

		&-catalogue {
			padding-top: $headerHeight / 2;
		}
	}
}

/*============  End of Section  =============*/