/*==============================
=            Sidebar            =
==============================*/
.sidebar {

	&__left {
		width: calc((#{$headerHeight} * 4) - #{$border_normal});
		// width: $headerHeight * 4;
		height: calc(100vh - (#{$headerHeight} * 2));
		display: block;
		position: fixed;
		top: $headerHeight * 2;
		left: 0;
		background-color: $seven;
		border-right: $border_normal solid $third;
		box-shadow: 0.3rem 0 0.6rem rgba($third, 0.5);
		z-index: 9898;
	}

	&__right {
		width: calc((#{$headerHeight} * 4) - #{$border_normal});
		// width: $headerHeight * 4;
		height: calc(100vh - (#{$headerHeight} * 2));
		display: block;
		position: fixed;
		top: $headerHeight * 2;
		right: 0;
		background-color: $seven;
		border-left: $border_normal solid $third;
		box-shadow: -0.3rem 0 0.6rem rgba($third, 0.5);
		z-index: 9898;
	}

	&__title {
		width: 100%;
		height: $headerHeight;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $third;

		h3 {
			margin-top: 0.3rem;
			margin-bottom: 0;
			text-transform: uppercase;
			font-size: $font-size-base + 0.3rem;
		}
	}

	&__nav {
		width: 100%;

		li {
			width: 100%;
			border-bottom: $border_normal solid $third;
			color: $third;
			// transition: all 0.3s;

			a {
				width: calc(100% - (#{$headerHeight} / 2));
				height: calc((100vh - (#{$headerHeight} * 2) - #{$headerHeight}) / 12);
				display: flex;
				align-items: center;
				padding: 0 ($headerHeight / 4);
				font: {
					family: $heading-font-thin;
					size: calc(#{$font-size-base} + 0.2vmin);
				};
				line-height: 1;
				color: $secondary;
				transition: all 0.3s;
			}
		}

		&--left {

			li {

				a {
					justify-content: center;
					text-align: center;
				}

				&:hover {
					// width: calc(100% - (#{$border_heavy} - #{$border_normal}));
					// border-right: $border_heavy solid $secondary;

					a {
						width: calc(100% - (#{$headerHeight} / 2) - #{$border_heavy});
						border-right: $border_heavy solid $primary;
						color: $fourth;
						background-color: darken($seven, 2%);
					}
				}

				&.active {
					// width: calc(100% - (#{$border_heavy} - #{$border_normal}));
					// border-right: $border_heavy solid $third;

					a {
						width: calc(100% - (#{$headerHeight} / 2) - #{$border_heavy});
						border-right: $border_heavy solid $secondary;
						color: $fourth;
						background-color: $six;
					}
				}
			}
		}

		&--right {

			li {

				a {
					justify-content: center;
					text-align: center;
				}

				&:hover {

					a {
						// width: calc(100% - (#{$headerHeight} / 2) - #{$border_heavy});
						border-left: $border_heavy solid $primary;
						color: $fourth;
						background-color: darken($seven, 2%);
					}
				}

				&.active {


					a {
						width: calc(100% - (#{$headerHeight} / 2) - #{$border_heavy});
						border-left: $border_heavy solid $secondary;
						color: $fourth;
						background-color: $six;
					}
				}
			}
		}
	}

	@include grid-media($XSmall) {

		&__left,
		&__right {
			display: none;
			visibility: hidden;
		}
	}
}


/*=====  End of Sidebar  ======*/
